@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    background-image: url(assets/food-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.root{
    padding: 20px 0;
}
.bottom{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
    padding: 0 40px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}
.name{
    font-size: 45px;
    font-weight: 700;
}
.tag-line{
    font-size: 20px;
    font-style: italic;
}
.card{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.card-image{
    width: 100%;
    height: 230px;
    box-shadow: 0px 0px 20px black;
    overflow: hidden;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card-info{
    width: calc(100% - 80px);
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: -20px;
    box-shadow: 0px 0px 20px black;
    z-index: 10;
}
.card-info-1{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}
.card-info-2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card-info-3{
    font-size: 18px;
}
.card-price{
    width: 100px;
    height: 100px;
    background-color: rgb(169, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    align-self: flex-end;
    margin-right: calc(40px - 50px);
    margin-top: -30px;
    box-shadow: 0px 0px 20px black;
    z-index: 10;
}
@media screen and (max-width: 1200px) {
    .bottom{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .bottom{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .card{
        max-width: 500px;
    }
    .card-price{
        margin-right: calc(50% - 250px + 30px);
    }
}
@media screen and (max-width: 500px) {
    .top{
        margin-top: 20px;
    }
    .name{
        font-size: 35px;
    }
    .tag-line{
        font-size: 18px;
    }
    .card-info{
        width: calc(100% - 60px);
        padding: 15px;
    }
    .card-price{
        width: 80px;
        height: 80px;
        font-size: 25px;
        margin-right: calc(30px - 10px);
        margin-top: -20px;
    }
    .bottom{
        padding: 0 15px;
    }
}
